/********** Base HTML style **********/
* {
  box-sizing: border-box;
}

/********** Header ************/
h1 {
  margin: 30px;
  text-align: center;
}


/********** Simple Responsive Framework. ***********/
.row {
  width: 100%;
}

/* Large devices only */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33%;
  }
 }

/* Medium devices only */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Sets Outer DIV Bonderies **********/
div#container {
  padding: 10px;
}

/********** Sets Content DIV Bonderies and Styling **********/
div#content {
  background-color: grey;
  border: solid 1px black;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 215, 202);
}

/********** Content Title Section Styling **********/
p.title {
  float: right;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 200px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding: 5px;
  margin: 0px;
}

#p1 {
  background-color: rgb(233, 227, 175);
  color: black;
}

#p2 {
  background-color: rgb(153, 72, 24);
  color: beige;
}

#p3 {
  background-color: rgb(0, 0, 0);
  color: beige;
}

/********** Content Text Styling **********/
p.body {
  padding: 10px;
  margin: 0px;
  clear: right;
}
